<section data-ng-controller="NotesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{note.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == note.user._id">
		<a class="btn btn-primary" href="/#!/notes/{{note._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{note.created | date:'mediumDate'}} by {{note.user.displayName}}</em>
	</small>
</section>